.profile-container {
  position: relative;
  display: flex;
}

h2 {
  font-family: 'amarante';
  font-size: 3rem;
}

.profile-text {
  color: #e6e6e6;
  width: 50%;
}

.profile-pic {
  background-image: url('../images/profile.jpeg');
  width: 35rem;
  height: 35rem;
  box-shadow: 0 0 50px 50px black inset;
  background-size: contain;
}
