.profile-image-container {
  position: relative;
  text-align: center;
  margin: 2rem 0;
}

.profile-image {
  width: 50rem;

  &__border {
    width: 50rem;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    filter: hue-rotate(350deg);
  }
}
