.homepage {
  height: 100vh;
  width: 100%;
  background-color: #000;

  &__background-image {
    background-image: url('../../images/botanical-roses.jpg');
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    position: relative;
    width: 100%;
    height: 60%;
    position: absolute;
    bottom: 0;
    box-shadow: -33px 250px 250px -1px black inset;
    filter: brightness(65%) sepia(10%);
  }

  &__divider-container {
    text-align: center;
  }

  &__divider {
    -webkit-transform: scaleY(-1);
    transform: scaleY(-1);
    width: 100%;
    filter: saturate(0%) brightness(70%) contrast(200%);
  }

  &__title {
    display: flex;
    align-items: center;
    padding-top: 2rem;
    justify-content: space-between;
  }

  &__corner {
    &--left {
      height: 11rem;
      filter: grayscale(1) brightness(70%);
    }

    &--right {
      height: 11rem;
      -webkit-transform: scaleX(-1);
      transform: scaleX(-1);
      filter: grayscale(1) brightness(70%);
    }
  }

  &__bottom {
  	padding: 2rem 0;
  	text-align: center;

  	img {
  		width: 75%;
  	}
  }
}

.address {
  font-size: 1.5rem;
  color: #9c9c9c;
  font-family: 'amarante';
  text-align: center;
  margin: 0 0 1rem 0;
}

.title-text {
  color: #9c9c9c;
  font-family: 'floralcaps';
  font-size: 5.8rem;
  font-weight: normal;
  margin: 0;
  text-align: center;
}

.page-content {
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
  z-index: 2;
  position: relative;
  background: black;
  height: 95vh;

  &__main {
    display: flex;
    flex-direction: row;
  }

  &__center {
    width: 100%;
  }

  &__side {
    width: 4.2rem;
    filter: saturate(0%) brightness(70%) contrast(200%);
  }
}

.profile-image-container {
  position: relative;
  text-align: center;
  margin: 2rem 0;
}

.profile-image {
  width: 50rem;

  &__border {
    width: 50rem;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    filter: hue-rotate(350deg);
  }
}

.nav-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #9c9c9c;

  &__tag {
    &--left {
      width: 6rem;
      filter: grayscale(1) brightness(70%);
    }

    &--right {
      width: 6rem;
      -webkit-transform: scaleX(-1);
      transform: scaleX(-1);
      filter: grayscale(1) brightness(70%);
    }
  }
}