@import '../../scss/fonts';

.main-nav {
	font-family: 'amarante';
	width: 100%;
	padding: 0 1rem;

	@media only screen and (min-width: 1200px) {
		padding: 0 2rem;
	}

	@media only screen and (max-width: 600px) {
		width: 100%;
		text-align: center;
	}

	@media only screen and (max-width: 991px) {
		background-color: rgba(0, 0, 0, .6);
	}

	&__list {
		list-style: none;
		margin: 0;
		padding: 0;
		display: flex;
		flex-direction: row;
		justify-content: space-between;

		&--item {
			padding:  1rem 0;
		}

		&--link {
			color: #e6e6e6;
			font-size: 1.5rem;
			text-decoration: none;

			@media only screen and (min-width: 1200px) {
				font-size: 3rem;
			}

			&:hover {
				color: #ba4e4e;
			}
		}
	}
}
