@font-face {
    font-family: 'daisuky';
    src: url('./daisuky-fancy.regular.ttf');
}

@font-face {
    font-family: 'sketch';
    src: url('./sketch-gothic-school.regular.ttf');
}

@font-face {
    font-family: 'gothican';
    src: url('./sf-gothican.regular.ttf');
}

@font-face {
    font-family: 'bittersweet';
    src: url('./BittersweetNF.ttf');
}

@font-face {
    font-family: 'copasetic';
    src: url('./CopaseticNF-Bold.ttf');
}

@font-face {
    font-family: 'metroretro';
    src: url('./MetroRetroNF.ttf');
}

@font-face {
    font-family: 'parklane';
    src: url('./ParkLaneNF.ttf');
}
